<p id="notice"><%= notice %></p>

<h1>Lugares</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lugares.each do |lugare| %>
      <tr>
        <td><%= lugare.nombre %></td>
        <td><%= lugare.descripcion %></td>
        <td><%= link_to 'Show', lugare %></td>
        <td><%= link_to 'Edit', edit_lugare_path(lugare) %></td>
        <td><%= link_to 'Destroy', lugare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lugare', new_lugare_path %>
