<h1 class="text-center h1">Lugares</h1>
<div class="text-center">
  <div class="form-group ml-5 mr-5 ">
      <div class="row d-flex justify-content-center">
          <%= form_tag(lugares_path, :method => "get", class: "mx-auto") do %>
            <div class="d-flex justify-content-center">
                <h5 class="text-dark text-nowrap mr-3" >Haz tu Búsqueda:</h5>
                <%= text_field_tag :search, params[:search], placeholder: "Buscar Destinos...",:id => "query", :class=>"form-control" %>
                <%= submit_tag("Buscar", :class=>"btn btn-success text-wrap ml-2") %>
            </div>
          <% end %>
      </div>
  </div>
</div>
<div class="container">
  <div class="text-center">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @lugares.each do |lugare| %>
          <tr>
            <td><%= lugare.nombre %></td>
            <td><%= lugare.descripcion %></td>
            <td><%= link_to 'Mostrar', lugare, class: 'btn btn-info' %></td>
            <td><%= link_to 'Editar', edit_lugare_path(lugare), class: 'btn btn-warning' %></td>
            <td><%= link_to 'Destroy', lugare, class: 'btn btn-danger',method: :delete, data: { confirm: 'Esta seguro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @lugares%>
    <br>
    <%= link_to 'Añadir nuevo destino', new_lugare_path, class: 'btn btn-success mb-5' %>
  </div>
</div>
