 <!-- CSS FILES START -->
    <link href="../bthed/css/custom.css" rel="stylesheet">
    <link href="../bthed/css/color.css" rel="stylesheet">
    <link href="../bthed/css/responsive.css" rel="stylesheet">
    <link href="../bthed/css/owl.carousel.min.css" rel="stylesheet">
    <link href="../bthed/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bthed/css/prettyPhoto.css" rel="stylesheet">
    <link href="../bthed/css/all.min.css" rel="stylesheet">
    <!-- CSS FILES End -->
  <!--   JS Files Start  --> 
    <script src="../bthed/js/jquery-3.3.1.min.js"></script> 
    <script src="../bthed/js/jquery-migrate-1.4.1.min.js"></script> 
    <script src="../bthed/js/popper.min.js"></script> 
    <script src="../bthed/js/bootstrap.min.js"></script> 
    <script src="../bthed/js/owl.carousel.min.js"></script> 
    <script src="../bthed/js/jquery.prettyPhoto.js"></script> 
    <script src="../bthed/js/isotope.min.js"></script> 
    <script src="../bthed/js/custom.js"></script>
<p id="notice"><%= notice %></p>

<h2 class="text-center">
  <strong>Destino:</strong>
  <%= @lugare.nombre if not @lugare.nombre.nil? %>
</h2>
<br><br>
<h5 class="text-left text-justify ml-5 pl-5">
  <strong>Descripción:</strong>
  <%= @lugare.descripcion if not @lugare.descripcion.nil? %>
</h5>
<br><br>
<% if @lugare.peligrosidad == 1  %>
<h5 class="text-left text-justify ml-5 pl-5">
  <strong>Nivel de Polución:</strong>
  <div class="alert alert-success" role="alert">
    ¡El estado de calidad del aire es óptimo!
  </div>
</h5>
<% elsif @lugare.peligrosidad == 2  %>
<h5 class="text-left text-justify ml-5 pl-5">
  <strong>Nivel de Polución:</strong>
  <div class="alert alert-warning" role="alert">
    ¡El estado de calidad del aire es regular!
  </div>
</h5>
<% elsif @lugare.peligrosidad == 3  %>
<h5 class="text-left text-justify ml-5 pl-5">
  <strong>Nivel de Polución:</strong>
  <div class="alert alert-danger" role="alert">
    ¡Peligro, El estado de calidad del aire puede ser perjudicial para su salud!
  </div>
</h5>
<% end  %>
<br><br>
<div class="text-center">
  <%= image_tag 'ecology.jpg' %>
</div>

<div class="container mb-5">
  <% if user_signed_in?  %>
    <%= link_to 'Editar', edit_lugare_path(@lugare), class: "btn btn-warning" %> |
  <% end  %>
  <%= link_to 'Regresar', root_path, class: "btn btn-primary" %>
</div>
