 <!-- CSS FILES START -->
    <link href="../bthed/css/custom.css" rel="stylesheet">
    <link href="../bthed/css/color.css" rel="stylesheet">
    <link href="../bthed/css/responsive.css" rel="stylesheet">
    <link href="../bthed/css/owl.carousel.min.css" rel="stylesheet">
    <link href="../bthed/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bthed/css/prettyPhoto.css" rel="stylesheet">
    <link href="../bthed/css/all.min.css" rel="stylesheet">
    <!-- CSS FILES End -->
  <!--   JS Files Start  --> 
    <script src="../bthed/js/jquery-3.3.1.min.js"></script> 
    <script src="../bthed/js/jquery-migrate-1.4.1.min.js"></script> 
    <script src="../bthed/js/popper.min.js"></script> 
    <script src="../bthed/js/bootstrap.min.js"></script> 
    <script src="../bthed/js/owl.carousel.min.js"></script> 
    <script src="../bthed/js/jquery.prettyPhoto.js"></script> 
    <script src="../bthed/js/isotope.min.js"></script> 
    <script src="../bthed/js/custom.js"></script>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @lugare.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @lugare.descripcion %>
</p>

<p>
  <strong>Plomo en Gasolina:</strong>
  <%= @lugare.cont_v1 %>
</p>

<p>
  <strong>Vehículos con Motor Diésel (antes 1998):</strong>
  <%= @lugare.cont_v3 %>
</p>

<p>
  <strong>Vehículos con Motor Diésel (posterior 1999):</strong>
  <%= @lugare.cont_v4 %>
</p>
<%= link_to 'Edit', edit_lugare_path(@lugare) %> |
<%= link_to 'Back', lugares_path %>
