<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @contaminante.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @contaminante.descripcion %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @contaminante.nivel %>
</p>

<p>
  <strong>Lugare:</strong>
  <%= @contaminante.lugare_id %>
</p>

<%= link_to 'Edit', edit_contaminante_path(@contaminante) %> |
<%= link_to 'Back', contaminantes_path %>
