<div class="wrapper home2">
         
         <div id="search">
            <button type="button" class="close">×</button>
            <form class="search-overlay-form">
               <input type="search" value="" placeholder="type keyword(s) here" />
               <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </form>
         </div>
         <!--Header End--> 
         <!--Slider Start-->
         <section id="home-slider" class="owl-carousel owl-theme wf100">
            <div class="item">
               <div class="slider-caption h2slider">
                  <div class="container">
                     <strong>UTP<span> tu mejor guía</span></strong>
                     <h1>Eco Friendly</h1>
                     <p>Para ser la diferencia</p>
                     <a href="#" class="active">Comienza ya</a> <a href="#">Subscríbete</a> 
                  </div>
               </div>
               <img src="bthed/images/h2-slide1.jpg" alt=""> 
            </div>
            <div class="item">
               <div class="slider-caption h2slider">
                  <div class="container">
                     <strong><span>Parar</span> La Caza & </strong>
                     <h1>Salvar la vida salvaje</h1>
                     <p>de <strong>animales en peligro</strong> en todo el mundo</p>
                     <a href="#" class="active">Comienza ya</a> <a href="#">Subscríbete</a> 
                  </div>
               </div>
               <img src="bthed/images/h2-slide2.jpg" alt=""> 
            </div>
            <div class="item">
               <div class="slider-caption h2slider">
                  <div class="container">
                     <strong><span>Salvemos</span> el mundo</strong>
                     <h1>Ing. Ambiental</h1>
                     <p>Únete <strong>y se la diferencia</strong> Con nosotros!</p>
                     <a href="#" class="active">Comienza ya</a> <a href="#">Subscríbete</a> 
                  </div>
               </div>
               <img src="bthed/images/h2-slide3.jpg" alt=""> 
            </div>
         </section>
         
         <!--Slider End--> 
         <!--Service Area Start-->
         <section class="services-area wf100">
            <div class="container">
               <ul>
                  <!--box  start-->
                  <li>
                     <%= link_to root_path do %>
                     <div class="sinfo">
                        <img src="bthed/images/sericon1.png" alt="">
                        <h6>Reciclaje</h6>
                        <p>Productos, Tips, Recomendaciones</p>
                     </div>
                     <% end%>
                  </li>
                  <!--box  end--> 
                  <!--box  start-->
                  <li>
                     <%= link_to root_path do %>
                     <div class="sinfo">
                        <img src="bthed/images/sericon2.png" alt="">
                        <h6>Seccion</h6>
                        <p>Polar, Prevailing, Tropical</p>
                     </div>
                     <% end%>
                  </li>
                  <!--box  end--> 
                  <!--box  start-->
                  <li>
                     <%= link_to root_path do %>
                     <div class="sinfo">
                        <img src="bthed/images/sericon3.png" alt="">
                        <h6>Empresas</h6>
                        <p>Empresas/Fundaciones</p>
                     </div>
                     <% end %>
                  </li>
                  <!--box  end--> 
                  <!--box  start-->
                  <li class="active">
                     <%= link_to root_path do %>
                        <div class="sinfo">
                           <img src="bthed/images/sericon4.png" alt="">
                           <h6>Manualidades Ecológicas</h6>
                           <p>El talento de nuestros usuarios</p>
                        </div>
                     <% end%>
                  </li>
                  <!--box  end--> 
                  <!--box  start-->
                  <li>
                     <%= link_to root_path do %>
                     <div class="sinfo">
                        <img src="bthed/images/sericon5.png" alt="">
                        <h6>Reforestación</h6>
                        <p>Infórmate y únete a nuestra actividad</p>
                     </div>
                     <% end%>
                  </li>
                  <!--box  end-->
               </ul>
            </div>
            <div class="container text-center">
               <div class="form-group ml-5 mr-5 mt-5 ">
                     <div class="row d-flex justify-content-center">
                        <%= form_tag(root_path, :method => "get", class: "mx-auto") do %>
                           <div class="d-flex justify-content-center">
                              <h5 class="text-dark text-nowrap mr-3" >Haz tu Búsqueda:</h5>
                              <%= text_field_tag :search, params[:search], placeholder: "Buscar Destinos...",:id => "query", :class=>"form-control" %>
                              <%= submit_tag("Buscar", :class=>"btn btn-success text-wrap ml-2") %>
                           </div>
                        <% end %>
                     </div>
               </div>
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Ver </th>
                     </tr>
                  </thead>

                  <tbody>
                     <% @lugares.each do |lugare| %>
                        <tr>
                        <td><%= lugare.nombre %></td>
                        <td><%= lugare.descripcion %></td>
                        <td><%= link_to 'Ver', lugare, class: 'btn btn-success' %></td>
                        </tr>
                     <% end %>
                  </tbody>
                  </table>
                  <%= paginate @lugares%>
                  <br>
            </div>
         </section>
         <!--Service Area End--> 
         <!--About Section Start-->
         <section class="home2-about wf100 p100 gallery">
            <div class="container">
               <div class="row">
                  <div class="col-md-5">
                     <div class="video-img"> <a href="http://vimeo.com/43338103&amp;width=700" data-rel="prettyPhoto" title="Vimeo video"><i class="fas fa-play"></i></a> <img src="bthed/images/h2about.jpg" alt=""> </div>
                  </div>
                  <div class="col-md-7">
                     <div class="h2-about-txt">
                        <h3>Acerca del Proyecto</h3>
                        <h2>Eco-Lugares </h2>
                        <p> Tenemos como objetivo principal recomendar a los usuarios, según su destino turístico, el grado de polución que mantiene el mismo, para envitar enfermadades posibles por la contmainación. </p>
                        <a class="aboutus" href="#">Más acerca de nosotros</a> 
                     </div>
                  </div>
               </div>
            </div>
            <div class="home-facts counter pt80">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-3 col-sm-6 col-md-3">
                        <div class="counter-box">
                           <p class="counter-count">89000</p>
                           <p class="ctxt">Reforestaciones</p>
                        </div>
                     </div>
                     <div class="col-lg-3 col-sm-6 col-md-3">
                        <div class="counter-box">
                           <p class="counter-count">79000</p>
                           <p class="ctxt">Plasticos Recogidos</p>
                        </div>
                     </div>
                     <div class="col-lg-3 col-sm-6 col-md-3">
                        <div class="counter-box">
                           <p class="counter-count">69000</p>
                           <p class="ctxt">Animales Salvados</p>
                        </div>
                     </div>
                     <div class="col-lg-3 col-sm-6 col-md-3">
                        <div class="counter-box">
                           <p class="counter-count">59000</p>
                           <p class="ctxt">Usuarios</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--About Section End--> 
         <!--Urgent Causes Start-->
         <!--News & Articles Start-->
        
