<div class="wrapper home2">
         
         <div id="search">
            <button type="button" class="close">×</button>
            <form class="search-overlay-form">
               <input type="search" value="" placeholder="type keyword(s) here" />
               <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </form>
         </div>
         <!--Header End--> 
         <!--Slider Start-->
         <section id="home-slider" class="owl-carousel owl-theme wf100">
            <div class="item">
               <div class="slider-caption h2slider">
                  <div class="container">
                     <strong>UTP<span> tu mejor guía</span></strong>
                     <h1>Eco Friendly</h1>
                     <p>Para ser la diferencia</p>
                     <a href="#" class="active">Comienza ya</a> <a href="#">Subscríbete</a> 
                  </div>
               </div>
               <img src="bthed/images/h2-slide1.jpg" alt=""> 
            </div>
            <div class="item">
               <div class="slider-caption h2slider">
                  <div class="container">
                     <strong><span>Parar</span> La Caza & </strong>
                     <h1>Salvar la vida salvaje</h1>
                     <p>de <strong>aniamales en peligro</strong> en todo el mundo</p>
                     <a href="#" class="active">Comienza ya</a> <a href="#">Subscríbete</a> 
                  </div>
               </div>
               <img src="bthed/images/h2-slide2.jpg" alt=""> 
            </div>
            <div class="item">
               <div class="slider-caption h2slider">
                  <div class="container">
                     <strong><span>Salvemos</span> el mundo</strong>
                     <h1>Ing. Ambiental</h1>
                     <p>Únete <strong>y se la diferencia</strong> Con nosotros!</p>
                     <a href="#" class="active">Comienza ya</a> <a href="#">Subscríbete</a> 
                  </div>
               </div>
               <img src="bthed/images/h2-slide3.jpg" alt=""> 
            </div>
         </section>
         <!--Slider End--> 
         <!--Service Area Start-->
         <section class="services-area wf100">
            <div class="container">
               <ul>
                  <!--box  start-->
                  <li>
                     <%= link_to root_path do %>
                     <div class="sinfo">
                        <img src="bthed/images/sericon1.png" alt="">
                        <h6>Reciclaje</h6>
                        <p>Productos, Tips, Recomendaciones</p>
                     </div>
                     <% end%>
                  </li>
                  <!--box  end--> 
                  <!--box  start-->
                  <li>
                     <%= link_to root_path do %>
                     <div class="sinfo">
                        <img src="bthed/images/sericon2.png" alt="">
                        <h6>Seccion</h6>
                        <p>Polar, Prevailing, Tropical</p>
                     </div>
                     <% end%>
                  </li>
                  <!--box  end--> 
                  <!--box  start-->
                  <li>
                     <%= link_to root_path do %>
                     <div class="sinfo">
                        <img src="bthed/images/sericon3.png" alt="">
                        <h6>Empresas</h6>
                        <p>Empresas/Fundaciones</p>
                     </div>
                     <% end %>
                  </li>
                  <!--box  end--> 
                  <!--box  start-->
                  <li class="active">
                     <%= link_to root_path do %>
                        <div class="sinfo">
                           <img src="bthed/images/sericon4.png" alt="">
                           <h6>Manualidades Ecológicas</h6>
                           <p>El talento de nuestros usuarios</p>
                        </div>
                     <% end%>
                  </li>
                  <!--box  end--> 
                  <!--box  start-->
                  <li>
                     <%= link_to root_path do %>
                     <div class="sinfo">
                        <img src="bthed/images/sericon5.png" alt="">
                        <h6>Reforestación</h6>
                        <p>Infórmate y únete a nuestra actividad</p>
                     </div>
                     <% end%>
                  </li>
                  <!--box  end-->
               </ul>
            </div>
         </section>
         <!--Service Area End--> 
         <!--About Section Start-->
         <section class="home2-about wf100 p100 gallery">
            <div class="container">
               <div class="row">
                  <div class="col-md-5">
                     <div class="video-img"> <a href="http://vimeo.com/43338103&amp;width=700" data-rel="prettyPhoto" title="Vimeo video"><i class="fas fa-play"></i></a> <img src="bthed/images/h2about.jpg" alt=""> </div>
                  </div>
                  <div class="col-md-7">
                     <div class="h2-about-txt">
                        <h3>Acerca de BtheD</h3>
                        <h2>Eco-friendly </h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eros nibh, cursus nec quam eu, commodo ultricies lectus. Vestibulum at ultrices mi. Aenean id accumsan magna. Phasellus varius erat ligula, nec accumsan turpis lacinia quis. Suspendisse eget posuere elit. Maecenas laoreet lorem urna, vitae ullamcorper orci luctus sed. </p>
                        <a class="aboutus" href="#">Más acerca de nosotros</a> 
                     </div>
                  </div>
               </div>
            </div>
            <div class="home-facts counter pt80">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-3 col-sm-6 col-md-3">
                        <div class="counter-box">
                           <p class="counter-count">89000</p>
                           <p class="ctxt">Trees Planted</p>
                        </div>
                     </div>
                     <div class="col-lg-3 col-sm-6 col-md-3">
                        <div class="counter-box">
                           <p class="counter-count">79000</p>
                           <p class="ctxt">Solar Panels in 2017</p>
                        </div>
                     </div>
                     <div class="col-lg-3 col-sm-6 col-md-3">
                        <div class="counter-box">
                           <p class="counter-count">69000</p>
                           <p class="ctxt">Wildlife Saved</p>
                        </div>
                     </div>
                     <div class="col-lg-3 col-sm-6 col-md-3">
                        <div class="counter-box">
                           <p class="counter-count">59000</p>
                           <p class="ctxt">Served Water Gallons</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--About Section End--> 
         <!--Urgent Causes Start-->
         <!--News & Articles Start-->
         <section class="h2-news wf100 p80">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="section-title-2">
                        <h5>Lee nuestros</h5>
                        <h2>Últimos Artículos</h2>
                     </div>
                  </div>
                  <div class="col-md-6"> <a href="#" class="view-more">Mira más</a> </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="blog-post-large">
                        <div class="post-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="bthed/images/h2news1.jpg" alt=""></div>
                        <div class="post-txt">
                           <ul class="post-meta">
                              <li><i class="fas fa-calendar-alt"></i> 29 September, 2018</li>
                              <li><i class="fas fa-comments"></i> 134 Comments</li>
                           </ul>
                           <h5><a href="#">Planting Trees for Better Future</a></h5>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <!--Blog Small Post Start-->
                     <div class="blog-small-post">
                        <div class="post-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="bthed/images/h2news2.jpg" alt=""> </div>
                        <div class="post-txt">
                           <span class="pdate"> <i class="fas fa-calendar-alt"></i> 29 September, 2018</span>
                           <h5><a href="#">How you can keep alive wildlife long.</a></h5>
                           <p>According to a survey the perceived higher cost of environmentally.</p>
                           <a href="#" class="rm">Read More</a> 
                        </div>
                     </div>
                     <!--Blog Small Post End--> 
                     <!--Blog Small Post Start-->
                     <div class="blog-small-post">
                        <div class="post-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="bthed/images/h2news3.jpg" alt=""> </div>
                        <div class="post-txt">
                           <span class="pdate"> <i class="fas fa-calendar-alt"></i> 29 September, 2018</span>
                           <h5><a href="#">The effort GoGreen has been felt across</a></h5>
                           <p>Majority have suffered alteration in some form by injected humour.</p>
                           <a href="#" class="rm">Read More</a> 
                        </div>
                     </div>
                     <!--Blog Small Post End--> 
                  </div>
               </div>
            </div>
         </section>
         <!--News & Articles End--> 
         <!--Why Ecova + Facts Start-->
         <section class="why-ecova wf100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h1> Be the Difference</h1>
                     <p>Únete a nuestro movimiento, y sé parte de la diferencia!
                     </p>
                     <a href="#" class="cus">Regístrate</a> 
                  </div>
               </div>
            </div>
         </section>
         <!--Why Ecova + Facts End--> 
         <!--Online Products Start-->
         <section class="online-shop wf100 p80">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="section-title-2 text-center">
                        <h5>Intercambia</h5>
                        <h2>Artículos con nuestros usuarios</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <!--Pro Box Start-->
                  <div class="col-md-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="#">Intercambiar</a> <img src="bthed/images/pro1.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="#">Happy Ninja Shirt</a></h6>
                        </div>
                     </div>
                  </div>
                  <!--Pro Box End--> 
                  <!--Pro Box Start-->
                  <div class="col-md-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="#">Intercambiar</a> <img src="bthed/images/pro2.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="#">Woo corlor shirt</a></h6>
                        </div>
                     </div>
                  </div>
                  <!--Pro Box End--> 
                  <!--Pro Box Start-->
                  <div class="col-md-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="#">Intercambiar</a> <img src="bthed/images/pro3.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="#">Premium Quality</a></h6>
                        </div>
                     </div>
                  </div>
                  <!--Pro Box End--> 
                  <!--Pro Box Start-->
                  <div class="col-md-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="#">Intercambiar</a> <img src="bthed/images/pro4.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="#">Ninja Silhouette</a></h6>
                        </div>
                     </div>
                  </div>
                  <!--Pro Box End--> 
               </div>
            </div>
         </section>
         <!--Online Products End--> 
         <!--InstaGram Start-->
         <div class="instagram">
            <ul>
               <li> <a href="#"> <i class="fas fa-search"></i> </a> <img src="bthed/images/insta1.jpg" alt=""> </li>
               <li> <a href="#"> <i class="fas fa-search"></i> </a> <img src="bthed/images/insta2.jpg" alt=""> </li>
               <li> <a href="#"> <i class="fas fa-search"></i> </a> <img src="bthed/images/insta3.jpg" alt=""> </li>
               <li> <a href="#"> <i class="fas fa-search"></i> </a> <img src="bthed/images/insta4.jpg" alt=""> </li>
               <li> <a href="#"> <i class="fas fa-search"></i> </a> <img src="bthed/images/insta5.jpg" alt=""> </li>
               <li> <a href="#"> <i class="fas fa-search"></i> </a> <img src="bthed/images/insta6.jpg" alt=""> </li>
               <li> <a href="#"> <i class="fas fa-search"></i> </a> <img src="bthed/images/insta7.jpg" alt=""> </li>
            </ul>
         </div>
         <!--InstaGram End--> 
         
      </div>