<!DOCTYPE html>
<html>
  <head>
    <title>IngAmbiental</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CSS FILES START -->
    <link href="bthed/css/custom.css" rel="stylesheet">
    <link href="bthed/css/color.css" rel="stylesheet">
    <link href="bthed/css/responsive.css" rel="stylesheet">
    <link href="bthed/css/owl.carousel.min.css" rel="stylesheet">
    <link href="bthed/css/bootstrap.min.css" rel="stylesheet">
    <link href="bthed/css/prettyPhoto.css" rel="stylesheet">
    <link href="bthed/css/all.min.css" rel="stylesheet">
    <!-- CSS FILES End -->
  <!--   JS Files Start  --> 
    <script src="bthed/js/jquery-3.3.1.min.js"></script> 
    <script src="bthed/js/jquery-migrate-1.4.1.min.js"></script> 
    <script src="bthed/js/popper.min.js"></script> 
    <script src="bthed/js/bootstrap.min.js"></script> 
    <script src="bthed/js/owl.carousel.min.js"></script> 
    <script src="bthed/js/jquery.prettyPhoto.js"></script> 
    <script src="bthed/js/isotope.min.js"></script> 
    <script src="bthed/js/custom.js"></script>
  </head>

  <body>
    <% if devise_controller? %>
      <%= yield %>
    <% else %>
      <%= render 'layouts/navigation' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
